<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Display</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        body{
            background-image:url("{% static '/django.jpg' %}");
            background-size: cover;
        }
        .black{
            color: black;
            text-decoration: none;
        }
    </style>
    <script>
        function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 1; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[4];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
    </script>
</head>
<body>
<div class="container">
    <br><br>
    <label style="font-weight: bold;"><h3>Display Records</h3></label><br><br>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Doctor name.."><br><br>
<table id="myTable" style="border:3px solid black;" align="center" class="table table-condensed table-bordered table-hover">
    {% csrf_token %}
    <thead bgcolor="lightblue" border="1">
    <tr class="info">
        <td><h5 style="font-family:Times New Roman; font-weight: bold;" align="center" >ID</h5></td>
        <td><h5 style="font-family:Times New Roman; font-weight: bold;" align="center" >Name</h5></td>
        <td><h5 style="font-family:Times New Roman; font-weight: bold;" align="center" >Contact</h5></td>
        <td><h5 style="font-family:Times New Roman; font-weight: bold;" align="center" >Address</h5></td>
        <td><h5 style="font-family:Times New Roman; font-weight: bold;" align="center" >Doctor</h5></td>
        <td><h5 style="font-family:Times New Roman; font-weight: bold;" align="center" >Illness</h5></td>
        <td><h5 style="font-family:Times New Roman; font-weight: bold;" align="center" >Referred By</h5></td>
        <td colspan="4"><h5 style="font-family:Times New Roman; font-weight: bold;" align="center" >Options</h5></td>
    </tr></thead>
    {% for patient1 in patient1 %}
    <tbody bgcolor="white"><tr>
        <td><h6 align="center">{{ patient1.pid }}</h6> </td>
        <td><h6 align="center">{{ patient1.name }}</h6> </td>
        <td><h6 align="center">{{ patient1.contact }}</h6> </td>
        <td><h6 align="center">{{ patient1.address }}</h6> </td>
        <td><h6 align="center">{{ patient1.doc }}</h6> </td>
        <td><h6 align="center">{{ patient1.ill }}</h6> </td>
        <td><h6 align="center">{{ patient1.reference }}</h6> </td>
        <td><h6 align="center"><a class="black" href="/edit/{{ patient1.id }}">Edit</a></h6></td>
        <td><h6 align="center"><a class="black" href="/destroy/{{ patient1.id }}">Delete</a></h6></td>
        <td><h6 align="center"><a class="black" href="/app2/{{ patient1.id }}">Show Appointment</a></h6></td>
        <td><h6 align="center"><a class="black" href="/invoice/{{ patient1.id }}">Invoice</a></h6></td>
    </tr></tbody>
    {% endfor %}
</table>
<br><br>
<center>
    <a href="/create" class="btn btn-primary">Add New Patient</a>
    <a href="/log" class="btn btn-primary">Logout</a>
</center></div>
</body>
</html>
