@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

body {
    background: linear-gradient(148.46deg, #898df3, #C3B1E1, #E0B0FF, #898df3);
    background-size: cover;
    background-position: center;
}

.bg-img {
    justify-content: center;

}

.avatar-upload {
    position: relative;
    top: -20px;
    max-width: 205px;
    margin: 50px auto;

}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    box-shadow: 0px 4px 10px 0px #9378a5;
    background: linear-gradient(150.46deg,
            rgba(255, 255, 255, 0.5) -12.61%,
            rgba(255, 255, 255, 0.25) 110.1%);
    padding: 20px;
    border-radius: 20px;

}

form {
    height: 650px;
}

.content header {
    color: black;
    font-size: 33px;
    font-weight: 800;
    margin: 0 0 35px 0;
    font-family: 'Montserrat', sans-serif;
}

.lheading {
    color: #9911d3 !important;
}

.field {
    position: relative;
    top: -40px;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.0);
}

.field span {
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field input {
    height: 100%;
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.space {
    margin-top: 16px;
}

.show {
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.pass-key:valid~.show {
    display: block;
}

.pass {
    text-align: left;
    margin: 10px 0;
}

.pass a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.pass:hover a {
    text-decoration: underline;
}

.field input[type="submit"] {
    background: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.field input[type="submit"]:hover {
    background: linear-gradient(315deg, #E0B0FF 0%, #ad1deb 74%);

}

.login {
    color: black;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.links {
    display: flex;
    cursor: pointer;
    color: black;
    margin: 0 0 20px 0;
}

.facebook,
.instagram {
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
    border-radius: 10px;
}

.facebook {
    margin-left: 0;
    background: #4267B2;
    border: 1px solid #3e61a8;
}

.instagram {
    background: #E1306C;
    border: 1px solid #df2060;
}

.facebook:hover {
    background: #3e61a8;
}

.instagram:hover {
    background: #df2060;
}

.links i {
    font-size: 17px;
}

i span {
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.signup {
    font-size: 15px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.signup a {
    color: #7F00FF;
    text-decoration: none;
    font-weight: 900;
}

.signup a:hover {
    text-decoration: underline;
}
