{% extends "base.html" %}
{% load static %}

{% block content %}
<title>Blogophilic Panda | Login</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% for message in messages %}
<script>    
    alert("{{message}}");    
</script>
{% endfor %}
<div class="bg-img row">
    <div class="content col-4 text-center">
       <header class="lheading" style="font-size: 1.8rem; font-weight: 900; text-decoration: underline;">SIGN IN</header>
       <form method="POST">
           {% csrf_token %}
          <div class="field">
             <span class="fa fa-user"></span>
             <input type="text" name="username" required placeholder="Username">
          </div>
          <div class="field space">
             <span class="fa fa-lock"></span>
             <input type="password" class="pass-key" name="password" required placeholder="Password">
             <span class="show">SHOW</span>
          </div>
          <div class="pass">
             <a href="#">Forgot Password?</a>
          </div>
          <div class="field">
             <input type="submit" value="LOGIN">
          </div>
       </form>
       <div class="login">
          Or login with
       </div>
       <div class="links">
          <div class="facebook">
             <i class="fab fa-facebook-f"><span>Facebook</span></i>
          </div>
          <div class="instagram">
             <i class="fab fa-google"><span>Google</span></i>
          </div>
       </div>
       <div class="signup">
          Don't have account?
          <a href="{% url 'register' %}">Signup Now</a>
       </div>
    </div>
 </div>
 <script>
    const pass_field = document.querySelector('.pass-key');
    const showBtn = document.querySelector('.show');
    showBtn.addEventListener('click', function(){
     if(pass_field.type === "password"){
       pass_field.type = "text";
       showBtn.textContent = "HIDE";
       showBtn.style.color = "#3498db";
     }else{
       pass_field.type = "password";
       showBtn.textContent = "SHOW";
       showBtn.style.color = "#222";
     }
    });
 </script>
{% endblock content %}